
### Windows ###
# Windows thumbnail cache files
Thumbs.db

# Folder config file
Desktop.ini

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

### Magic stuff ###
mglock.dat
mgerror.log
*.XRF
exports/

### Visual Studio Code ###
.vscode/*
.vs/*

### Node modules ####
node_modules/

### Application temp
##temp/

### Testing ....
maven/
build/
.idea/
.idea/*
.*
!.*/
