
### Windows ###
# Windows thumbnail cache files
Thumbs.db

# Folder config file
Desktop.ini

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

### Magic stuff ###
mglock.dat
mgerror.log

### Visual Studio Code ###
.vscode/*

### Node modules ####
node_modules/

### Application temp
temp/
